<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Acerca de nosotros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROyEyvprB18Dral9049qhHxCdjFbNUnoCD1My9xS-TjfUUO6-wBa4VegiccQJxVg4rCzE&usqp=CAUhttps://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROyEyvprB18Dral9049qhHxCdjFbNUnoCD1My9xS-TjfUUO6-wBa4VegiccQJxVg4rCzE&usqp=CAU" />
    <ion-card-header>
      <ion-card-subtitle>Información</ion-card-subtitle>
      <ion-card-title>Rancho </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Rancho Ubicado en Parras Coahuila.
      Cuenta con grandes cosechas, de los que destacan: Naranjas, Sandías, Melones, Frijol, Maíz y Papa
     ¡Conoce nuestras instalaciones agendando tu cita!
    </ion-card-content>
  </ion-card>
  <li>
    <a href="https://www.youtube.com/watch?v=A-4vRAGDY2U">
      <ion-card>
        <ion-card-content>
          <img src="../../assets/img/videoyou.png" />
        </ion-card-content>
      </ion-card>
    </a>
  </li>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="map()">
      <ion-icon name="navigate-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
